edition: 1.0.0
Name: nobas-app
Access: "default"

vars: # Global Variables
  region: {region}
  Service:
    Name: "nobaseService"
    nasConfig: auto

Services:
  noocobaseService:
    component: fc
    Actions:
      Post employment:
        - component: fc nas upload -ro /app/noocobase/storage/db /mnt/auto/noocobase/storage/db
    props:
      region: ${vars.region}
      service: ${vars.service}
      Function:
        Name: nobaseFc
        runtime: custom-container
        timeout: 60
        memorySize: 512
        instanceConcert: 100
        caPort: {CONTAINER_PORT}
        customContainerConfig:
          image: registry.{region}.aliyuncs.com/{IMAGE_NAMESPACE}/{IMAGE_NAME}
      Triggers:
        - Name: httpTrigger
          type: HTTP
          config:
            authType: anonymous
            methods:
              - GET
              - POST
              - PUT
              - DELETE
              - HEAD
              - OPTITONS
      customomDomains:
        - domainName: Auto
          protocol: HTTP
          RoteConfigs:
            - path:*
              